/* VARIABLES CSS */
:root{
    --h2multplierXS: 0.8;
    --h1multplierXS: 0.7;
    --colorWhite: #F1F2F1;
    --colorRed: #CE2B37;
    --colorGreen: #009246;
    --colorDarkGrey: #272D2D;
    --colorLightGrey: #b9bab9;
    --h1SizeXL: 2em;
    --h2SizeXL: 1.5em;
    --pSizeXL: 1.2em;
    --menuSizeXL: 1.1em;
    --copyrightSizeXL: 0.9em;

    --h1SizeXS: calc(var(--h1SizeXL) * var(--h1multplierXS));
    --h2SizeXS: calc(var(--h2SizeXL) * var(--h2multplierXS));
    --pSizeXS: calc(var(--pSizeXL) * var(--h2multplierXS));
    --menuSizeXS: calc(var(--menuSizeXL) * var(--h2multplierXS));
    --copyrightSizeXS: calc(var(--copyrightSizeXL) * var(--h2multplierXS));

}

@font-face {
    font-family: ValentinoFont;
    src: url(../fonts/LCALLIG.ttf);
  }

@font-face {
    font-family: open_sans;
    src: url('../fonts/OpenSans.ttf') format("truetype-variations");
    font-weight: 1 999;
  }


/* Extra small devices (phones, 600px and down) */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--colorWhite);
    line-height: 1.6;
    font-family: open_sans;
}

.container{
    margin: 0 auto;
}
/* Online Command Button */
.foodbooking_div{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.foodbooking_div .foodbooking_link{
    width: max-content;
    display: block;
    margin: auto;
    padding: 10px 25px;
    color: var(--colorDarkGrey);
    font-weight: 700;
    font-size: var(--pSizeXS);
    text-decoration: none;
    background-color: var(--colorGreen);
    border-radius: 45px;
    box-shadow: 0px 3px 3px 3px #181818;
}

@media (hover: hover) {
    .foodbooking_div .foodbooking_link:hover{
        background-color: #00572a;
        cursor: pointer;
        color: var(--colorWhite);
    }

    .foodbooking_div .foodbooking_link:active{
        transform: translateY(5px);
        box-shadow: none;
    }
}

@media (hover: none) {
    .foodbooking_div .foodbooking_link:active{
        background-color: #00572a;
        cursor: pointer;
        color: var(--colorWhite);
        transform: translateY(5px);
        box-shadow: none;
    }
}

/* NAVBAR */
.navbar{ 
    background-color: var(--colorRed);
    color: var(--colorWhite);
    padding: 10px 0;
}

.navbar .container, .footer .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar a{
    text-decoration: none;
}


.navbar a.tel{
    color: var(--colorWhite);
    font-size: var(--h2SizeXS);
    font-weight: 600;
    line-height:normal;
    padding: 0;
}

.navbar h1{
    text-align: center;
    width: fit-content;
    margin: 0 auto 25px auto;
    line-height:normal;
    color: var(--colorWhite);
    font-family: ValentinoFont;
    font-weight: 700;
    font-size: var(--h1SizeXS);
    padding: 8px 20px;
    border: 3px solid var(--colorGreen);
    border-radius: 45px;  
    box-shadow: 0px 4px 10px 5px #444;
    margin-bottom: 20px;
}

.navbar h1 span{
    display: block;
}

.navbar nav{
    display: none;
}

.navbar #isOpen{
    font-size: var(--pSizeXS);
    position: relative;
}

.navbar #isOpen span{
    font-weight: 700;
    font-size: var(--h2SizeXS);
}

.navbar #isOpen i{
    padding-left: 5px;
    color: var(--colorWhite);
}

.navbar #isOpen i:hover{
    cursor:pointer;
}

.navbar #isOpen span.opened{
    color: var(--colorGreen);
}
.navbar #isOpen span.closed{
    color: var(--colorDarkGrey);
}

.navbar #horaire #horaireBg{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.navbar #horaire #horairedDropdown{
    position: absolute;
    display: none;
    z-index: 10;
    box-shadow: 0px 7px 10px 7px #181818;
}

.navbar #horaire table{
    border-collapse: collapse;
    color: var(--colorDarkGrey);
    font-size: var(--pSizeXS);
    font-weight: 600;
}

.navbar #horaire table tr td{
    padding: 5px 15px;
}

.navbar #horaire table tr td:last-child{
    text-align: center;
}

.navbar #horaire table tr:nth-child(odd){
    background-color: var(--colorRed);
}

.navbar #horaire table tr:nth-child(even){
    background-color: var(--colorWhite);
}

#livraison{
    color: var(--colorWhite);
}

#livraison td:first-child{
    font-weight: 600;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    height: 25px;
    width: 25px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#sideMenu {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    right: -220px;
    background-color: var(--colorDarkGrey);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
    box-shadow: 5px 0px 15px 10px #000;
}

#sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 60px;
}

/* Links inside the dropdown */
#sideMenu a {
    color: var(--colorGreen);
    font-size: var(--pSizeXS);
    font-weight: 600;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown:hover .dropbtn {
    animation: rotate360 0.5s;
}

@keyframes rotate360 {
    100% {transform: rotate(360deg);}
}

/* FOOTER */
.footer{
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    padding: 10px 0;
}

.footer .container{
    font-size: var(--menuSizeXS);
}

.footer a.tel{
    color: var(--colorWhite);
}

.footer .container i{
    color: #1B74E4;
    padding: 0 20px;
}

.footer .copyright{
    margin: 0 auto;
    font-size: var(--copyrightSizeXS);
    color: var(--colorLightGrey);
    text-align: right;
    padding: 10px 20px 0 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container, .footer .copyright{
        max-width: 900px;
    }
    
    /* Navbar */
    .navbar .container, .footer .container{ 
        padding: 0;
    }

    .foodbooking_div .foodbooking_link{
        font-size: var(--pSizeXL);
    }

    .navbar h1{
        font-size: var(--h1SizeXL);
        padding: 10px 50px;
    }

    .navbar a.tel{
        font-size: var(--h2SizeXL);
    }

    .navbar nav{
        display: block;
    }

    .navbar #isOpen{
        font-size: var(--pSizeXL);
    }

    .navbar #isOpen span{
        font-weight: 700;
        font-size: var(--h2SizeXL);
    }

    .navbar #horaire table{
        font-size: var(--pSizeXL);
    }
    
    .navbar ul{
        display: flex;
        list-style-type: none;
    }
    
    .navbar nav a{
        padding: 7px 10px;
        margin: 0 5px;
        font-size: var(--pSizeXL);
        color: var(--colorWhite);
        text-decoration: none;
    }
    
    .navbar nav a:hover{
        border-bottom: 2px var(--colorWhite) solid ;
    }

    .dropdown {
        display: none;
    }
      
    /* FOOTER */
    .footer .container{
        font-size: var(--menuSizeXL);
    }

    .footer .container i{
        padding: 0 50px;
    }

    .footer .copyright{
        font-size: var(--copyrightSizeXL);
        padding: 0;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container, .footer .copyright{
        max-width: 1100px;
    }
}
